<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Live Data Search Select Dropdown using Python Flask Jquery Ajax PostgreSQL</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <br />
            <h2 align="center">Live Data Search Select Dropdown using Python Flask Jquery Ajax PostgreSQL</h2><br />
            <select name="search_filter" id="search_filter" class="form-control">
                <option value="">Select Option</option>
                {% for row in empoffice %}
                    <option value="{{row.office}}">{{row.office}}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="hidden_value" id="hidden_value" />
            <div style="clear:both"></div>
            <br />
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Age</th>
                            <th>Salary</th>
                            <th>Office</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <br />
        </div>
<script>
    $(document).ready(function(){
        load_data();
        function load_data(query='')
        {
            $.ajax({
                url:'/fetchrecords',
                method:'POST',
                data:{query:query},
                success:function(data){
                    $('tbody').html(data);
                    $('tbody').append(data.htmlresponse);
                }
            })
        }

        $('#search_filter').change(function(){
            $('#hidden_value').val($('#search_filter').val());
            var query = $('#hidden_value').val();
            load_data(query);

        });
    });
</script>
</body>
</html>